<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saweiz Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <center>
        <h1 class="yellow">My First EC2 Instance</h1>
        <br>
        <h2 class="rose">Alhamdulillah and Masha Allah</h2>
        <br>
        <h3 class="blue">Now let's move to S3 and RDS!</h2>
        <br>
        <h3>Dated: Dec 10, 2023</h2>
    </center>
</body>
</html>